body {
	background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  font-family: 'Kumbh Sans', sans-serif;
	font-size: 12px;
	min-height: 100vh;
  margin: 0;
}

.attribution {
  font-size: 11px;
  margin-top: 220px;
  text-align:  center;
}
  .attribution a { color: hsl(228, 45%, 44%); }

.container1{
  margin: auto;
  width: 1000px;
  min-height: 600px;
  height: auto;
  background-color: white;
  border-radius: 35px;
  position: sticky;
  top: 210px;
  display: flex;
  overflow: hidden;
}

.imgs{
  width: 450px;
  height: 600px;
  position: relative;
}
 #imgwom{
   position: absolute;
   left: -80px;
   top: 130px;
   z-index: 2;
 }
 #imgshadow{
   position: absolute;
   left: -580px;
   bottom: -110px;
   z-index: 1;
 }
#imgbox{
  position: fixed;
  top: 473px;
  left: 300px;
  z-index: 3;
}

.faq{
  width: 420px;
  height: 600px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

#title{
  padding-top: 40px;
  font-size: 35px
}


.container2 {

  border-bottom:  1px solid hsl(240, 5%, 91%);
}

.question{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
  padding-top: 10px;
  font-size: 16px;
}
.question:hover {
  color: hsl(14, 88%, 65%);
  cursor: pointer;
}


.arrow{
  float: right;
  margin-right: 10px;
  width: 12px;
}

.active {
  color: hsl(238, 29%, 16%);
  font-weight: bold;

}

.reverse-arrow {
  transform: rotate(180deg);
}

.arrow:hover{
  cursor: pointer;
}


.answer {
  font-size: 15px;
  color: hsl(240, 6%, 50%);
  display: none;
  opacity: 0.7;
  transition:  .4s;
}
